body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding:0px 10px;
    box-sizing: border-box; 

}
.container{
	margin-top:65px;
}

.label{
	margin-bottom:25px;
	padding:0px 70px;
}

h1{
	padding-bottom:8px;
	border-bottom: 1px solid #ddd; 
}

.img-thumbnail{
	height:250px;
	width:400px;
	margin-bottom:35px;
	position: relative;
    text-align: center;
    color: white;
}

.image{
	max-width:100%;
	max-height:100%;
	margin:0 auto;
	width:400px;
}

.zoom {
    transition: transform .4s;
}



.text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-weight:700;
    font-size:2em;
    color:white;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}