<html>

<head>
    <title>Sign In</title>
    <link href="/CSS/Login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <% if(error && error.length>0){%>
    <div class="container">
        <div class="alert" role="alert" >
            <strong><%=error%></strong> 
        </div>
    </div>
    <%}%> 
    <% if(success && success.length>0){%>
    <div class="container">
        <div class="alert " role="alert">
            <strong><%=success%></strong> 
        </div>
    </div>
   <%}%> 

    <div class="loginBox">
            <form action="/userLogin" method="POST">
                <h2 class="loginHeading">Login</h2>
                <p>Email</p>
                <input type="text" name="username" placeholder="Enter email" required>
                <p>Password</p>
                <input type="password" name="password" placeholder="********" required>
                <input type="submit" value="Login">
            </form>
            <div class="link">Dont have an account? <a href="/userSignup">Register</a> </div>
        </div>




<!-- JavaScript for Bootstrap and AJAX -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/JS/login.js"></script>



</body>
</html>